
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import "./link.scss";
  
  
*,html {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    background-color:#121214;
    color:#eee;
}

body{
  text-align:-webkit-center;
}

a,button{
  cursor:pointer;
  text-decoration:none;
  text-transform:none;
}
::-webkit-scrollbar{
  width:12px;
  border-radius:10px;
  background-color:whitesmoke;
}
::-webkit-scrollbar-thumb{
  border-radius:10px;
  background-color:#888
}